<ion-header>
  <ion-toolbar>
    <ion-title>
      Minha conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Olá Alex</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none" class="list">
        <ion-item>Carteira</ion-item>
        <ion-item>Cupons</ion-item>
        <ion-item>Sugerir Estabelecimento</ion-item>
        <ion-item>Seja um parcerio</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>