<ion-header>
  <ion-toolbar>
    <ion-title>
      Lugares
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let dado of lista">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="pizza"></ion-icon> {{ dado.nome }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ dado.precos }} &bull; {{ dado.tipo }} &bull; <ion-icon name="star"></ion-icon> 4,8 &bull; {{ dado.endereco }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>