ion-toolbar {
  --background:rgb(31, 31, 31);
  --color:rgb(255, 181, 0);
}

ion-content{
  --background:rgb(39, 39, 39);
}

ion-card {
  --background:rgb(31, 31, 31);
  --color:rgb(255, 181, 0);
}

ion-card-title {
  --color:rgb(255, 181, 0);
}